<div class="row">
  <div class="large-12 large-centered columns">
    <h1 class="broker-check">Welcome to James</h1>
    <div class="row">
      <div class="medium-6 small-12 small-centered columns">
        <p class="broker-check">Please enter your phone number to verify you're on the list of  brokers. Upon confirming your number you'll be redirected to a form to respond to the lead.</p>
        <p class="broker-check"><strong>Note:</strong> This is a one time validation on this device. You will not need to enter your number again for subsequent leads using this device.</p>
        <%= form_for @broker, url: '/authenticate', method: 'post' do |f| %>
          <%= f.label "Phone Numer*" %>
          <%= f.telephone_field :phone_number, required: true, class: "prop-form", required: true %>
          <div class="row">
            <div class="small-4 medium-4 small-centered large-centered columns">
              <%= f.button "Submit", class: "button cust-btn" %>
            </div>
          </div>
          
        <% end %>
      </div> 
    </div>
  </div>
</div>
