<div id="home-page">
  <div id="top-container">
    <div class="row" id="head-text">
      <div class="small-12 large-centered columns">
        <h1 id="title">Hi, I'm James</h1>
        <h2 id="subtitle">I'm hard at work revolutionizing how people find commercial real estate spaces.</h2>
      </div>
    </div>

    <div class="row logo">
      <div class="small-6 medium-3 small-centered medium-centered columns">
        <%= image_tag "james_logo_lg.png", class: "james-logo" %>
      </div>
    </div>

    <div class="row">
      <div class="small-8 small-centered columns">
        <h2 class="broker-check">Check back soon for updates!</h2>
      </div>
    </div>
