<div class="row">
  <div class="large-6 large-centered small-12 small-centered columns">
    <h1 class="broker-check">Thank you!</h1>
    <p class="broker-check">Lead submited to user! You should hear back shortly with a response.</p>
    </p>
    <%= link_to("Submit another!", respond_to_lead_path(@response_url), class: "button") %>
  </div>
</div>

