<div class="row thanks">
  <div class="large-6 large-centered small-12 small-centered columns">
    <h1 class="broker-check top">Thank you!</h1>
    <p class="broker-check">Lead submited to tenant! You should hear back shortly with a response.</p>
    </p>
    <div class="row">
      <div class="medium-6 medium-centered small-12 small-centered columns">
        <%= link_to("Submit another!", respond_to_lead_path(@response_url), class: "button cust-btn") %>
      </div>
    </div>
  </div>
</div>

