<div id="top-container">
  <h1>Hi, I'm James</h1>
  <h2>Your personal office search concierge, just a text away.</h2>

  <div class="row">
    <div class="small-12 large-6 medium-8 large-centered columns">
      <%= image_tag "james_logo_lg.png", class: "some class here" %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 large-centered columns">
      <div id="number-container">
        <h4 id="phone"><%= image_tag 'sms_phone.svg', class: "phone_icon" %> +1 (415) 801-0226</h4>
        <h4 id="text-cta">Text me and I'll find your next office!</h4>
      </div>
    </div>
  </div>
</div>
