@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
@import "foundation_and_overrides";
@import 'foundation-icons';
/*
 *= require foundation
 *= require foundation_and_overrides
 *= require welcome.scss
 *= require_tree .
 *= require_self
 */
$primary-font: 'Muli', sans-serif;
$secondary-font: 'Playfair Display', serif;
body{
	background-color: rgba(255,67,63,0.75);
}
.logo{
	margin-top: 1.5rem;
}
img#james-logo{
	width: 25rem;
}
#title{
	color: white;
	font-size: 4rem;
	font-family: $primary-font;
	margin-bottom: 0;
}
#head-text{
	text-align: center;
}
#hiw-container{
	background-color:	#00be7e;
	margin-top: 2rem;
	padding: 2rem;
}
#extra-cta{
	background-color: rgb(0,204,204);
	padding: 2rem;
	.extra-cta{
		text-align: center;
	}
}
#james-faq{
	padding: 2rem;
	background-color: rgb(255,67,63);
}
#subtitle{
	font-family: $primary-font;
}
#number-container{
	text-align: center;
	background-color: rgb(0,204,204);
	border-radius: .5rem;
	padding: .25rem 0 .25rem 0;
	margin: 0 auto;
	margin-top: 1rem;
}
#phone{
	font-size: 2.4rem;
}
#text-cta{
	font-family: $primary-font;
	color: white;
}
img.phone_icon{
	height: 2.4rem;
}
#examples-container{
	background-color: rgba(255,222,0,1);
	padding: 2rem;
}
#hiw{
	border: 1px solid white;
	border-radius: .5rem;
	padding: .5rem;
}
.hiw{
	text-align: center;
	font-family: $primary-font;
}
span.num-emphasis {
  font-weight: bolder;
  font-size: 1.25rem;
}
.faq-q{
	font-weight: bold;
	font-family: $primary-font;
	color: white;
	font-size: 1.5rem;
}
.faq-a{
	font-family: $secondary-font;
	color: white;
}
.footer{
	text-align: center;
	background-color: rgb(0,204,204);
	padding-top: 1rem;
	i.social{
		font-size: 2rem;
		color: white;
		&:hover{
			color: rgba(255,222,0,1);
		}
	}
}
.container-head{
	text-align: center;
	font-family: $primary-font;
	font-size: 4rem;
}
.number-con{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
// Media queries
@media (max-width: 420px) {
	#title{
		font-size: 3.25rem;
	}
	img.phone_icon{
		height: 2rem;
	}
	#phone{
		font-size: 2rem;
	}
}