@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Arvo);

@import "foundation_and_overrides";
@import 'foundation-icons';

/*
 *= require foundation_and_overrides
 *= require welcome
 *= require admin
 *= require spinners/5-pulse
 */

$title-font: 'Pacifico', cursive;
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Arvo', serif;

$red: #ff433f;
$yellow: #ffde00;
$green: #00be7e;
$blue: #00cccc;
$light-red: rgba(255,67,63,0.75);

.cust-modal{
  background-color: $green;
  a.close-reveal-modal.cust-x{
    color: black;
  }
}
fieldset.hour, fieldset.minute{
  legend{
    color: black;
  }
}
.message{
  color: $red;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: -2.5vh;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  font-family: $primary-font;
}
span.prefix.price {
    background-color: transparent;
    border: none;
    text-align: right;
    padding-right: 0;
}
span.postfix.sqft {
    background-color: transparent;
    border: none;
    text-align: left;
    padding: 0;
}
.medium-1.columns.sqft {
    padding-left: 0;
    margin-top: 4vh;
}
.medium-5.columns.sqft {
    padding-right: 0;
}
.medium-1.columns.price {
    margin-top: 3.25vh;
    padding-right: 0;
    background-color: transparent;
    width: 1.5rem;
}
.medium-5.columns.price{
  padding-left: 0;
}
.admin-bg{
  background-image: url('congruent_outline.png');
}
#home-page{
  background-color: white;
}
#top-container{
  background-color: $light-red;
}
div#datedrop1 {
  display: block;
  text-align: center;
  border-radius: 0;
  &:hover{
    color: $red;
  }
  .addthisevent_dropdown {
    font-family: $primary-font;
  }
}

.date {
  margin-bottom: 2rem;
  input.prop-form {
    background-color: transparent;
  }
}
.button.cust-btn{
  background-color: rgba(0,0,0,0);
  border: 2px solid black;
  font-family: $primary-font;
  &:hover:enabled{
    background-color: $yellow;
    color: $red; 
    border-color: white;
  }
}
div#about-james {
  padding: 2rem;
  background-color: $blue;
  color: $yellow;
  h4{
    color: $yellow;
  }
  p {
    font-family: $secondary-font;
  }
}
input.button {
  padding: 1rem 7rem 1.0625rem 7rem;
  display: block;
  margin: 0 auto;
}
p.legal {
  font-size: 0.75rem;
  padding-top: 0.5rem;
}
.ital{
  font-style: italic;
}
.uploadcare-widget-button.uploadcare-widget-button-open {
  border-radius: 0;
  font-family: $primary-font;
  background-color: rgba(0,0,0,0);
  border: 2px solid black;
  margin-bottom: 0;
  &:hover{
    cursor: pointer;
    background-color: $yellow;
    color: $red;
    border-color: white;
  }
}
.row.thanks {
  padding-top: 5rem;
}
a.button {
  display: block;
}
body{
  background-color: $green;
  font-family: $primary-font;
  legend{
    background: none;
    font-family: $primary-font;
    color: white;
  }
}
// =================
// TODO Rename this class to something more generic!
// =================
.broker-check{
  text-align: center;
  font-family: $primary-font;
}
.top {
  margin-top: 3rem;
}
select.prop-form{
  background-color: rgba(255,255,255,0);
  font-family: $primary-font;
  color: white;
  border-bottom: 2px solid white;
  &:focus{
    background-color: $yellow;
  }
}
::-webkit-input-placeholder {
    color: white;
}
textarea.prop-form{
  font-family: $primary-font;
  border-bottom: 2px solid white;

}
label{
  font-family: $primary-font;
}
input.prop-form{
  font-family: $primary-font;
  border-bottom: 2px solid white;
}
#lead-response{
  margin-bottom: 2rem;
}
.lead-header{
  font-family: $primary-font;	
  color: white;
  text-align: center;
}
.logo{
  margin-top: 1.5rem;
}
img#james-logo{
  width: 25rem;
}
#title{
  color: white;
  font-size: 5rem;
  font-family: $title-font;
  margin-bottom: 0;
}
#head-text{
  text-align: center;
}
#hiw-container{
  background-color:	#00be7e;
  padding: 2rem;
}
#extra-cta{
  background-color: $blue;
  padding: 5rem;
  .extra-cta{
    text-align: center;
    font-size: 3rem;
    color: $yellow;
    font-family: $secondary-font;
    a{
      color: $yellow;
      &:hover{
        cursor: pointer;
      }
    }
	}
}
#james-faq{
  padding: 2rem;
  background-color: rgb(255,67,63);
  h4{
    color: white;
  }
}
#subtitle{
  font-family: $primary-font;
  font-weight: bold;
}
#number-container{
  text-align: center;
  background-color: rgb(0,204,204);
  border-radius: .5rem;
  padding: .25rem 0 .25rem 0;
  margin: 0 auto;
  a{
    color: black;
    &:hover{
      cursor: pointer;
    }
  }
  p{
    padding: 0;
    margin: 0;
  }
}
#phone{
  font-size: 2.4rem;
  font-family: $primary-font;
  font-weight: bolder;
}
#text-cta{
  font-family: $primary-font;
  color: white;
  font-size: 1.7rem;
}
img.phone_icon{
  height: 2.4rem;
}
#examples-container{
  background-color: rgba(255,222,0,1);
  padding: 2rem;
}
#hiw{
  border: 1px solid white;
  border-radius: .5rem;
  padding: .5rem;
  a{
    color: black;
  }
}
.hiw{
  text-align: center;
  font-family: $primary-font;
}
span.num-emphasis {
  font-weight: bolder;
  font-size: 1.25rem;
}
span#atedrop1-drop {
  width: 13.75rem;
}
.faq-q{
  font-weight: bold;
  font-family: $primary-font;
  color: white;
  font-size: 1.5rem;
}
.faq-a{
  font-family: $secondary-font;
  color: white;
}
footer{
  text-align: center;
  background-color: $blue;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: .75rem;
  a{
  margin: 1rem;
  }
  i.social{
    font-size: 2rem;
    color: white;
    &:hover{
      color: $yellow;
    }
  }
  p.footer-txt {
    color: white;
    font-size: 0.75rem;
    margin-bottom: 0.1rem;
  }
}
.container-head{
  text-align: center;
  font-family: $primary-font;
  font-size: 4rem;
}
.number-con{
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.medium-3.columns.panel.dash {
  height: 14rem;
  border-radius: 69rem;
  width: 14rem;
  margin-right: 1rem;
  h3 {
  padding: 30px 0 0 3px;
  text-align: center;
  font-size: 1.5rem;
  }
  p {
  font-size: 3rem;
  text-align: center;
  }
}
.panel.cust-panel {
    transition: all 0.5s ease;
    background-color: rgba(255,255,255,0.5);
    border: none;
    text-align: left;
    &:hover{
      transition: all 0.5s ease;
      cursor: pointer;
      background-color: $yellow;
      img {
        border: 1.8px solid $red;
      }
    }
}

// Media queries
@media (max-width: 640px) {
  img.iphone {
    height: 70vh;
    display: block;
    margin: auto;
    width: auto;
  }
}

.test{
  position: relative;
}
.spinner {
  margin: auto;
  text-align: center;
  display: none;
  position: absolute;
  top: 12%;
  left: 47%;
  height: 40px;
  width: 40px;
  z-index: 10;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



@media (max-width: 420px) {
  #title{
    font-size: 3.25rem;
  }
  img.phone_icon{
    height: 2rem;
  }
  #phone{
    font-size: 2rem;
  }
  #text-cta{
    font-size: 1.25rem;
  }
  #hiw-container{
    h4{
      font-size: 2.9rem;
      padding-bottom: 0.75rem;
    }
  }
  #extra-cta{
    padding: 2rem;
    .extra-cta{
    font-size: 1rem;
      a{
        font-size: 1.25rem;
      }
    }
  }
  .container-head{
    font-size: 3rem;
  }
  .spinner {
    top: 18%;
    left: 44%;
  }
}