<div class="row thanks">
  <div class="large-6 large-centered small-12 small-centered columns">
    <h1 class="broker-check top">Thank you!</h1>
    <p class="broker-check">I’ll confirm the tour if there’s a time that works</p>
  </div>
</div>