<div id="footer">
  <footer >
    <div class="row">
      <div class="small-12 large-6 large-centered columns">       
        <div id="social-links">
          <ul class="small-block-grid-2 foot">
             <li><a href="https://www.facebook.com/textjamesco"><i class="fi-social-facebook social"></i></a></li>
             <li><a href="https://twitter.com/Textjamesco"><i class="fi-social-twitter social"></i></a></li>
          </ul>
        </div>
        <div>
          <p class="footer-txt">
            Made in San Francisco | © 2015 This is James Inc.
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>