<div id="footer">
  <footer >
    <div class="row">
      <div class="small-12 large-3 large-centered columns">       
        <div id="social-links">
          <ul class="small-block-grid-3">
             <li><i class="fi-social-facebook social"></i></li>
             <li><i class="fi-social-twitter social"></i></li>
             <li><i class="fi-social-blogger social"></i></li>
          </ul>
        </div>
        <div>Made in San Francisco</div>
        <div>© 2015 This is James Inc.</div>
      </div>
    </div>
  </footer>
</div>