<div class="footer">
  <footer>
    <div class="row">
      <div class="small-12 large-6 large-centered columns">
        <p class="footer">Made in San Francisco, CA</p>
          <div id="social-links">
          <ul class="small-block-grid-3 footer">
             <li><i class="fi-social-facebook"></i></li>
             <li><i class="fi-social-twitter"></i></li>
             <li><i class="fi-social-blogger"></i></li>
          </ul>
      </div>
    </div>
  </footer>
</div>