<div class="spinner">
  <div class="bounce1"><%= image_tag('james_logo_sm.png')%></div>
  <div class="bounce2"><%= image_tag('james_logo_sm.png')%></div>
  <div class="bounce3"><%= image_tag('james_logo_sm.png')%></div>
</div>